* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: goldenrod;
}

p {
    display: inline;
}

#clearAll {
    display: block;
    margin-top: 25px;
}

img {
    height: 1.5rem;
    position: relative;
    z-index: -1;
    
 }

button {
    background-color: transparent;
    border-radius: 50px;
    border: 0;
   }

.line {
    text-decoration: line-through;
}

